## <div align="center"> TUGAS LAB IF540 MACHINE LEARNING </div>
### <div align="center"> WEEK [--] : [TOPIC] </div>

#### <div align="center"> Semester Ganjil 2022/2023 </div>

In [1]:
import datetime
import uuid    

# Fill in your name and NIM
myName = "Antonius Kevin Budi Saputra"
myNIM = "45444"

myDate = datetime.datetime.now()
myDevice = str(uuid.uuid1())

# Header
print("Name: \t\t{}".format(myName))
print("NIM: \t\t{}".format(myNIM))
print("Start: \t\t{}".format(myDate))
print("Device ID: \t{}".format(myDevice))

Name: 		Antonius Kevin Budi Saputra
NIM: 		45444
Start: 		2022-11-22 20:36:14.000812
Device ID: 	a2473d9c-6a6a-11ed-b117-068db3350b0c


---

### Dataset yang dipakai:

1. [Nama dataset1] – sumber : [cantumkan link dataset]
2. [Nama dataset2] – sumber : [cantumkan link dataset]

### Hasil kerja

In [2]:
import sys
import tensorflow.keras as tk
import pandas as pd
import sklearn as sk
import tensorflow as tf
import numpy as np

In [3]:
covid = pd.read_csv("COVID-19.csv")

In [4]:
covid.head()

,iso,country,date,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,residential_percent_change_from_baseline,retail_and_recreation_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,confirmed_cases,...,total_tests,total_vaccinations,people_vaccinated,people_fully_vaccinated,gdp_ppp_per_capita,population,population_density,human_development_index,pop_age_above_65_percentage,health_index
0,AE,United Arab Emirates,2020-02-15,4.0,5.0,1.0,0.0,0.0,2.0,8,...,NaN,NaN,NaN,NaN,75075.26,9865845.0,118.0,0.866,1.09,0.886
1,AE,United Arab Emirates,2020-02-16,4.0,4.0,1.0,1.0,1.0,2.0,9,...,5042.0,NaN,NaN,NaN,75075.26,9865845.0,118.0,0.866,1.09,0.886
2,AE,United Arab Emirates,2020-02-17,1.0,5.0,1.0,-1.0,1.0,2.0,9,...,NaN,NaN,NaN,NaN,75075.26,9865845.0,118.0,0.866,1.09,0.886
3,AE,United Arab Emirates,2020-02-18,1.0,5.0,1.0,-2.0,0.0,2.0,9,...,6693.0,NaN,NaN,NaN,75075.26,9865845.0,118.0,0.866,1.09,0.886
4,AE,United Arab Emirates,2020-02-19,0.0,4.0,1.0,-2.0,-1.0,2.0,9,...,NaN,NaN,NaN,NaN,75075.26,9865845.0,118.0,0.866,1.09,0.886

In [5]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53377 entries, 0 to 53376
Data columns (total 22 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   iso                                                 52974 non-null  object
 1   country                                             53377 non-null  object
 2   date                                                53377 non-null  object
 3   grocery_and_pharmacy_percent_change_from_baseline   52362 non-null  float64
 4   parks_percent_change_from_baseline                  52177 non-null  float64
 5   residential_percent_change_from_baseline            52072 non-null  float64
 6   retail_and_recreation_percent_change_from_baseline  52405 non-null  float64
 7   transit_stations_percent_change_from_baseline       52534 non-null  float64
 8   workplaces_percent_change_from_baseline             53222 non-null  float64
 9   confirmed_cases                                     53377 non-null  int64
 10  confirmed_deaths                                    53377 non-null  int64
 11  gov_response_stringency_index                       50654 non-null  float64
 12  total_tests                                         19013 non-null  float64
 13  total_vaccinations                                  4094 non-null   float64
 14  people_vaccinated                                   3680 non-null   float64
 15  people_fully_vaccinated                             2460 non-null   float64
 16  gdp_ppp_per_capita                                  51009 non-null  float64
 17  population                                          52974 non-null  float64
 18  population_density                                  52974 non-null  float64
 19  human_development_index                             51790 non-null  float64
 20  pop_age_above_65_percentage                         51815 non-null  float64
 21  health_index                                        50651 non-null  float64
dtypes: float64(17), int64(2), object(3)
memory usage: 9.0+ MB

In [6]:
covid.columns

Index(['iso', 'country', 'date',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'residential_percent_change_from_baseline',
       'retail_and_recreation_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline', 'confirmed_cases',
       'confirmed_deaths', 'gov_response_stringency_index', 'total_tests',
       'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
       'gdp_ppp_per_capita', 'population', 'population_density',
       'human_development_index', 'pop_age_above_65_percentage',
       'health_index'],
      dtype='object')

In [7]:
covid.drop(columns=['iso', 'country', 'date',
       'confirmed_deaths', 'gov_response_stringency_index', 'total_tests',
       'gdp_ppp_per_capita', 'human_development_index', 'pop_age_above_65_percentage'], inplace=True)

In [8]:
covid.isna().sum()

grocery_and_pharmacy_percent_change_from_baseline      1015
parks_percent_change_from_baseline                     1200
residential_percent_change_from_baseline               1305
retail_and_recreation_percent_change_from_baseline      972
transit_stations_percent_change_from_baseline           843
workplaces_percent_change_from_baseline                 155
confirmed_cases                                           0
total_vaccinations                                    49283
people_vaccinated                                     49697
people_fully_vaccinated                               50917
population                                              403
population_density                                      403
health_index                                           2726
dtype: int64

In [9]:
covid.dropna(subset=['population', 'population_density','health_index'], inplace=True)

In [10]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50248 entries, 0 to 53376
Data columns (total 13 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   grocery_and_pharmacy_percent_change_from_baseline   49635 non-null  float64
 1   parks_percent_change_from_baseline                  49469 non-null  float64
 2   residential_percent_change_from_baseline            49721 non-null  float64
 3   retail_and_recreation_percent_change_from_baseline  49602 non-null  float64
 4   transit_stations_percent_change_from_baseline       49436 non-null  float64
 5   workplaces_percent_change_from_baseline             50233 non-null  float64
 6   confirmed_cases                                     50248 non-null  int64
 7   total_vaccinations                                  3914 non-null   float64
 8   people_vaccinated                                   3512 non-null   float64
 9   people_fully_vaccinated                             2362 non-null   float64
 10  population                                          50248 non-null  float64
 11  population_density                                  50248 non-null  float64
 12  health_index                                        50248 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 5.4 MB

In [11]:
covid.fillna(0, inplace=True)

In [12]:
covid.isna().sum()

grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
residential_percent_change_from_baseline              0
retail_and_recreation_percent_change_from_baseline    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
confirmed_cases                                       0
total_vaccinations                                    0
people_vaccinated                                     0
people_fully_vaccinated                               0
population                                            0
population_density                                    0
health_index                                          0
dtype: int64

In [13]:
covid.shape

(50248, 13)

In [14]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50248 entries, 0 to 53376
Data columns (total 13 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   grocery_and_pharmacy_percent_change_from_baseline   50248 non-null  float64
 1   parks_percent_change_from_baseline                  50248 non-null  float64
 2   residential_percent_change_from_baseline            50248 non-null  float64
 3   retail_and_recreation_percent_change_from_baseline  50248 non-null  float64
 4   transit_stations_percent_change_from_baseline       50248 non-null  float64
 5   workplaces_percent_change_from_baseline             50248 non-null  float64
 6   confirmed_cases                                     50248 non-null  int64
 7   total_vaccinations                                  50248 non-null  float64
 8   people_vaccinated                                   50248 non-null  float64
 9   people_fully_vaccinated                             50248 non-null  float64
 10  population                                          50248 non-null  float64
 11  population_density                                  50248 non-null  float64
 12  health_index                                        50248 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 5.4 MB

In [15]:
moved_column = covid.pop("confirmed_cases")

In [16]:
covid.insert(12, "confirmed_cases", moved_column)

In [17]:
covid.head()

,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,residential_percent_change_from_baseline,retail_and_recreation_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,total_vaccinations,people_vaccinated,people_fully_vaccinated,population,population_density,health_index,confirmed_cases
0,4.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,9865845.0,118.0,0.886,8
1,4.0,4.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,9865845.0,118.0,0.886,9
2,1.0,5.0,1.0,-1.0,1.0,2.0,0.0,0.0,0.0,9865845.0,118.0,0.886,9
3,1.0,5.0,1.0,-2.0,0.0,2.0,0.0,0.0,0.0,9865845.0,118.0,0.886,9
4,0.0,4.0,1.0,-2.0,-1.0,2.0,0.0,0.0,0.0,9865845.0,118.0,0.886,9

In [18]:
covid_data = covid.values

In [19]:
covid_data

array([[ 4.0000e+00,  5.0000e+00,  1.0000e+00, ...,  1.1800e+02,
         8.8600e-01,  8.0000e+00],
       [ 4.0000e+00,  4.0000e+00,  1.0000e+00, ...,  1.1800e+02,
         8.8600e-01,  9.0000e+00],
       [ 1.0000e+00,  5.0000e+00,  1.0000e+00, ...,  1.1800e+02,
         8.8600e-01,  9.0000e+00],
       ...,
       [ 5.1000e+01,  2.5000e+01, -1.0000e+00, ...,  3.8000e+01,
         4.2700e-01,  3.6678e+04],
       [ 3.3000e+01,  1.4000e+01,  0.0000e+00, ...,  3.8000e+01,
         4.2700e-01,  3.6691e+04],
       [ 3.4000e+01,  1.1000e+01,  1.0000e+00, ...,  3.8000e+01,
         4.2700e-01,  3.6704e+04]])

In [20]:
X = covid_data[:, 0:12]

In [21]:
X.shape

(50248, 12)

In [22]:
X

array([[ 4.0000000e+00,  5.0000000e+00,  1.0000000e+00, ...,
         9.8658450e+06,  1.1800000e+02,  8.8600000e-01],
       [ 4.0000000e+00,  4.0000000e+00,  1.0000000e+00, ...,
         9.8658450e+06,  1.1800000e+02,  8.8600000e-01],
       [ 1.0000000e+00,  5.0000000e+00,  1.0000000e+00, ...,
         9.8658450e+06,  1.1800000e+02,  8.8600000e-01],
       ...,
       [ 5.1000000e+01,  2.5000000e+01, -1.0000000e+00, ...,
         1.4818157e+07,  3.8000000e+01,  4.2700000e-01],
       [ 3.3000000e+01,  1.4000000e+01,  0.0000000e+00, ...,
         1.4818157e+07,  3.8000000e+01,  4.2700000e-01],
       [ 3.4000000e+01,  1.1000000e+01,  1.0000000e+00, ...,
         1.4818157e+07,  3.8000000e+01,  4.2700000e-01]])

In [23]:
Y = covid_data[:, 12]

In [24]:
Y

array([8.0000e+00, 9.0000e+00, 9.0000e+00, ..., 3.6678e+04, 3.6691e+04,
       3.6704e+04])

In [25]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [26]:
mms = StandardScaler()
X_scaled = mms.fit_transform(X)

In [27]:
X_scaled

array([[ 0.41235153,  0.17190732, -0.89980567, ..., -0.26345137,
        -0.15050006,  1.0283029 ],
       [ 0.41235153,  0.15016507, -0.89980567, ..., -0.26345137,
        -0.15050006,  1.0283029 ],
       [ 0.27652648,  0.17190732, -0.89980567, ..., -0.26345137,
        -0.15050006,  1.0283029 ],
       ...,
       [ 2.54027729,  0.60675224, -1.12697976, ..., -0.22584159,
        -0.25282981, -1.26439194],
       [ 1.725327  ,  0.36758753, -1.01339271, ..., -0.22584159,
        -0.25282981, -1.26439194],
       [ 1.77060201,  0.30236079, -0.89980567, ..., -0.22584159,
        -0.25282981, -1.26439194]])

In [41]:
X_train, X_vt, Y_train, Y_vt = train_test_split(X_scaled, Y, test_size=0.2)

In [42]:
X_test, X_val, Y_test, Y_val = train_test_split(X_vt, Y_vt, test_size=0.5)

In [43]:
print(X_train.shape, X_val.shape, X_test.shape, Y_train.shape, Y_val.shape, Y_test.shape)

(40198, 12) (5025, 12) (5025, 12) (40198,) (5025,) (5025,)

In [44]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten

In [45]:
model = Sequential([
    Dense(32, activation='relu', input_shape=(12,)),
    Dense(64, activation='relu'),
    Dropout(0.25),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dropout(0.25),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [46]:
model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [47]:
hist = model.fit(X_train, Y_train,
          batch_size=16, epochs=10, 
          validation_data=(X_val, Y_val))

Epoch 1/10
2513/2513 [==============================] - 2s 748us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 2/10
2513/2513 [==============================] - 2s 709us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 3/10
2513/2513 [==============================] - 2s 704us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 4/10
2513/2513 [==============================] - 2s 705us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 5/10
2513/2513 [==============================] - 2s 713us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 6/10
2513/2513 [==============================] - 2s 708us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 7/10
2513/2513 [==============================] - 2s 711us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 8/10
2513/2513 [==============================] - 2s 741us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 9/10
2513/2513 [==============================] - 2s 751us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585
Epoch 10/10
2513/2513 [==============================] - 2s 706us/step - loss: nan - accuracy: 0.0567 - val_loss: nan - val_accuracy: 0.0585

In [35]:
model.evaluate(X_test, Y_test)[1]

236/236 [==============================] - 0s 504us/step - loss: nan - accuracy: 0.0637

0.0636858195066452

In [36]:
model.predict(X_test)

236/236 [==============================] - 0s 448us/step

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]], dtype=float32)

### Kesimpulan



Berikan simpulan yang dilakukan dari hasil kerja menggunakan algoritma dan 2 dataset yang
dipilih. Simpulan bisa berkisar antara (bisa di modifikasi):

    - Simpulan perbandingan dataset
    - Hasil akurasi yang diberikan (jika ada dalam modul)
    - Hasil perbandingan akurasi antara algoritma (jika ada dalam modul)
    - Hasil pemikiran dan observasi akhir dari kerja menurut mahasiswa.

In [39]:
# Footer
myDate = datetime.datetime.now()
print("I certify that this is my own work.")
print("Signed by:")
print("Name: \t{}".format(myName))
print("NIM: \t{}".format(myNIM))
print("Time-stamp:\t{}".format(myDate))

I certify that this is my own work.
Signed by:
Name: 	Antonius Kevin Budi Saputra
NIM: 	45444
Time-stamp:	2022-11-22 20:36:34.185763

***

### Save the notebook, then convert the notebook to html (by running the next code).

In [40]:
!jupyter nbconvert --to html "./IF540L_kelas_A_laporan_MXX_45444_Antonius Kevin.ipynb" --output-dir="./"

[NbConvertApp] WARNING | Config option `kernel_spec_manager_class` not recognized by `NbConvertApp`.
[NbConvertApp] Converting notebook ./IF540L_kelas_A_laporan_MXX_45444_Antonius Kevin.ipynb to html
[NbConvertApp] Writing 660454 bytes to IF540L_kelas_A_laporan_MXX_45444_Antonius Kevin.html

### Next step:
* convert the generated html file to PDF using the online tool: https://www.sejda.com/html-to-pdf
* choose the following settings:
    * Page size: One long page
    * Page Orientation: auto
    * Use print stylesheet
* Submit your ipython notebook and PDF files

Markdown basics https://markdown-guide.readthedocs.io/en/latest/basics.html#